@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Figtree', serif ,sans-serif;
}

body {
    max-height: 100vh; 
    background-color: hsl(47, 88%, 63%);  
}

.main {
    height: 96vh;
    display: grid;
    place-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: .625rem .625rem 0 0 black;
    max-width: 18rem;
    border-radius: 0.625rem;
    background-color: hsl(0, 0%, 100%);
}

.main-img {
    padding: 1rem;
    border-radius: 1.625rem;
}

.card p {
    padding: .5rem 1rem;
}

.id {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
    text-decoration: none;
}

.auth-logo {
    max-height: 2rem;
    max-width: 2rem;
}

.title, .tag, .auth-name {
    font-weight: 800;
}

.date, .brief {
    font-weight: 500;
}

.brief {
    font-size: .8rem;
    color: hsl(0, 0%, 50%);
    transition: all 0.3s ease;
}

.brief:hover {
    color: hsl(0, 0%, 25%);
    font-weight: 600;
}

.auth-name, .tag {
    font-size: .8rem;
}

.date {
    font-size: .625rem;
}

span {
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    padding: .5rem 1rem;
    border-radius: .325rem;
    color: hsl(0, 0%, 7%);
}

.tag, .date, .title, .auth-name {
    color: hsl(0, 0%, 7%);
}

.attribution p {
    font-size: 0.625rem;
}

footer p {
    text-align: center;
}

.id {
    cursor: pointer;
}

.tag a {
    padding: 0;
}